.navbar {
  width: 100%;
  height: 50%;
  background-image: url("./media/meek.png");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navlink.active {
  text-decoration: underline;
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-container {
  float: right;
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 2px;
  margin-top: 8px;
  margin-right: 8px;
  border: none;
  font-size: 17px;
}

.search-container button {
  padding: 2px;
  margin-top: 8px;
  margin-right: 8px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

/* Clear floats after the navbar */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.brand {
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  transition: all 0.5s ease;
}

.nav-link {
  padding: 1rem;
}

.nav-links li {
  display: inline-block;
  margin-left: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
}

.video-background-container {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

.video-background {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: black;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

/* Mobile view */
@media screen and (max-width: 1024px) {
  .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    z-index: 100;
    position: relative;
  }

  .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
  }

  .nav-links.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .nav-link {
    margin: 2rem 0;
    font-size: 2.5rem;
  }

  .search-container {
    display: none;
  }
}
