.navbar {
  width: 100%;
  height: 50%;
  background-image: url("./media/meek.png");
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  text-decoration: underline;
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-container {
  float: right;
}

.search-container input[type="text"] {
  padding: 2px;
  margin-top: 8px;
  margin-right: 8px;
  border: none;
  font-size: 17px;
}

.search-container button {
  padding: 2px;
  margin-top: 8px;
  margin-right: 8px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

/* Clear floats after the navbar */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.brand {
  color: white;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}
